<h1>Portfolio items</h1>

<%= link_to "Create new item", new_portfolio_path %>

<% @portfolio_item.each do |item| %>
  <p><%= item.title %></p>
  <p><%= item.subtitle %></p>
  <p><%= item.body %></p>
  <%= image_tag item.tumb_image unless item.tumb_image.nil? %>
  <%= link_to "Edit", edit_portfolio_path(item.id) %>
<% end %>